#login-form {
    background-color: #EFF8F3;
    aspect-ratio: 5 / 7;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    gap: 5px;
    font-size: 12px;
}

#errMsg {
    color: red;
    font-size: 12px;
}