#user-profile {
    padding: 5px 0;
    justify-content: flex-start;
}
#change-password-set  {
    margin: 10px 0px;
    aspect-ratio: 7/8;
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
#change-password-set[hidden] {
    display: none;
    
}